#notes-list-sidebar {
  position: relative;
  width: 500px;
}

#notes-list-sidebar li {
  transition: background-color 0.12s ease-in-out;
}

textarea[name="note-body"] {
  resize: none;
}

.note-list-item {
  margin-top: -1px;
}

@media (max-width: 767px) {
  #notes-list-sidebar {
    position: absolute;
    width: 100dvw;
    transition: transform 0.24s ease-in-out;
  }

  #notes-list-sidebar.sidebar-open {
    transform: translateX(0%);
  }

  #notes-list-sidebar.sidebar-close {
    transform: translateX(-100%);
  }
}
