@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  color-scheme: dark light;
  background-color: rgb(17 24 39 / 1);
}

#root {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  width: 100dvw;
  height: 100dvh;
}

.width-container {
  max-width: 1920px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(17 24 39 / 1);
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
}
